TIBCO/XML/Loan.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Studio 2017 - Developer Bundle Edition (Education) 15.1.16.7872 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Loan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" type="xs:string" />
        <xs:element minOccurs="0" name="NRIC" type="xs:string" />
        <xs:element minOccurs="0" name="contact_no" type="xs:unsignedInt" />
        <xs:element minOccurs="0" name="email" type="xs:string" />
        <xs:element minOccurs="0" name="annual_income" type="xs:unsignedShort" />
        <xs:element minOccurs="0" name="loan_duration" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="loan_amount" type="xs:unsignedShort" />
        <xs:element minOccurs="0" name="loanType" type="xs:string" />
        <xs:element minOccurs="0" name="interestRate" type="xs:decimal" />
        <xs:element minOccurs="0" name="preferred_comms" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>